@use "sass:math";
// mixins
@import "mixins";
// =====================================

//fonts========================================================
//&display=swap &subset=cyrillic-ext(если сайт с кириллицей)================================

//fonts========================================================
@import "fonts/fonts";
// иконочные шрифты
@import "fonts/icons";
// =======================

// шрифт по умолчанию
$fontFamily: "Gilroy";
$fontSize: rem(16); // где 14(px) - размер шрифта по умолчанию из макета
$mainColor: #3a3a3a;
$orangeColor: #e89f71;
$grayColor: #898989;
$darkGrayColor: #616161;
// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320px;
// Ширина полотна (макета)
$maxWidth: 1440;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1240;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30px;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: $containerWidth; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 991.98px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98px; // Телефоны L
$mobileSmall: 479.98px; // Телефоны S
// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)

// reset
@import "null";

body {
   color: $mainColor;
   font-size: $fontSize;
}

// оболочка
.wrapper {
   min-height: 100%;
   overflow: hidden;
   width: 100%;
   display: flex;
   flex-direction: column;
}

// container основная сетка
[class*="__container"] {
   margin: 0 auto;
   max-width: $containerWidth;
   padding: 0px 15px;
}
// основная сетка
// подключение файлов общих стилей и форм
@import "base";
@import "ui";
@import "lightgallery";
// подключение файлов общих стилей и форм
@import "animation";
// подключение файлов стилей страниц и элементов
@import "header";
@import "home";
@import "footer";
// подключение файлов стилей страниц и элементов

// основной блок
.page {
   flex: 1 1 auto;
}
